@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Arial', sans-serif;
  }
  
  h1, h2 {
    color: #333;
  }
  
  .table-card, .menu-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }
  
  .table-list, .menu-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .table-order-list ul {
    list-style: none;
    padding: 0;
  }
  
  .table-order-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  